# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.pytest_cache/

# Translations
*.mo
*.pot

# Distribution / packaging
*.egg-info/
dist/
build/
.eggs/
*.egg
MANIFEST

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Misc
*.DS_Store
